
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.bin
*.lock
*.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
local.properties
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileHashes/fileHashes.lock
*.lock
*.bin
*.lock
*.bin
*.bin
*.lock
*.properties
*.bin
*.lock
*.bin
*.lock
*.bin
*.lock
*.bin
*.lock
