<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs310.trojancheckinout">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddBuilding"></activity>
        <activity android:name=".EditCapacity" />
        <activity android:name=".ShowOccupantsActivity" />
        <activity android:name=".displaySearchResults" />
        <activity android:name=".SearchStudents" />
        <activity android:name=".generateQRActivity" />
        <activity android:name=".NavActivity" />
        <activity android:name=".QRScanner" />
        <activity android:name=".CheckIn" />

        <activity android:name=".DeleteBuilding" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ManagerSignUpActivity" />
        <activity android:name=".StudentSignUpActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".ShowAllBuildingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ChangePasswordActvity" />
    </application>

</manifest>